@import 'reset.scss';

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family:'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI',  'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


// @media screen and (min-height: 700px){

.container{
  display:  grid;
  grid-template-rows: 2fr 4fr 1fr;
  grid-template-columns: auto auto;
  grid-template-areas: 
    "header header" 
    "main aside"
    "footer footer";
}

h2{
  font-size: 2rem;
  margin-bottom: 10px;
}

.title{
  font-weight: 700;
}

header{
  grid-area: header;
  background-color: rgb(235, 240, 244);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: space-around;

  nav{
    justify-items: flex-start;
    display: flex;
    justify-content: space-between;
    font-weight: 600;

    .active-nav{
    color: black;
    text-decoration: none;
    
    }

    .underline{
    margin-bottom: 0.3rem;
    }

    ul{
      display: flex;
      gap: 2rem;

      .newService{
        background-color: teal;
        color: white;
        padding: 0.7rem 1.4rem;
        box-shadow: 2px;
        border-radius: 5px;
      }
    }
  }  

  .hero{
    display: flex;
    gap: 40%;
    justify-content: space-between;
    align-items: center;
    

    .leftHero{
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }
    cite{
      font-style: italic;
      font-size: 1.3rem;
      font-weight: 300;
    }
    span{
      font-weight: 700;
      font-size: 0.7rem;
    }
    .circles{
      margin-right: 5rem;
      height: 13rem;
      width: 13rem;
    }
  }
}

main{
  grid-area: main;
  margin: 3rem 4rem;
  
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h2{
    flex: 0;
  }  

  #search{
    border-radius: 5px;
    padding: 0.5rem;
    text-align: center;
  }

  //DET SOM STÅR UNDER GJELDER SERVICE.JS
  .quote{
    display:flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 1rem 0 3rem 0;

    cite{
      font-style: italic;
      font-size: 1.3rem;
      font-weight: 300;
    }
    span{
      font-weight: 700;
      font-size: 0.7rem;
    }
  }

  form{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 1rem;
 
    label{
      font-weight: 700;
      display: flex;
      flex-direction: column; 
      gap: 0.7rem;
      
      span{
        flex: 1 0 auto;
      }

      input, select{
        border-radius: 5px;
        box-shadow: none;
        background-color: rgb(240, 240, 240);
        border-color: rgb(182, 182, 182);
        flex: 1 0 1;
      }
    } 
    input, button, select{
      padding: 0.5rem;
      font-size: 1rem;
    }
    button{
      background-color: rgb(22, 188, 135);
      color: white;
      border-radius: 5px;
      max-width: 50%;
      margin-top: 1rem;
    }
  }

  .ofCards{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin:0;
    
    p{
      align-self: center;
    }

    .card{
    flex: 0 0 20%;
    // TODO: ENDRE PROPORSJONER, Statisk størrelse
    min-width: 12rem;
    max-height: 50%;
    background-color: rgb(101, 215, 215);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    } 

    .cardLink{
      color: black;
    }

  }
  // .servicePage{
  
  // }


}  



aside{
  grid-area: "aside";
}


footer{
  grid-area: footer;
  display: flex;
  padding: 2rem;
  justify-content: space-between;
  align-items: flex-end;
}

@media only screen and (max-width: 1024px){

  header{
    max-height: 250px;
    background-color: rgb(235, 240, 244);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.2rem;
  
    nav{
      justify-items: flex-start;
      display: flex;
      justify-content: space-between;
      font-weight: 600;
  
      .active-nav{
      color: black;
      text-decoration: none;
      cursor: pointer; 
      
      }

      .hero{
        display: flex;
        gap: 40%;
        justify-content: space-between;
        align-items: center;
        
    
        .leftHero{
          display: flex;
          align-content: flex-start;
          width: 200px ;
          
        }
        cite{
          font-style: italic;
          font-size: 2rem;
          font-weight: 300;
        }
        span{
          font-weight: 700;
          font-size: 0.7rem;
        }
        .circles{
          margin-right: 5rem;
          height: 10vh;
          width: 10vh;
        }
      }
    }


  .services{
    margin: 3rem 4rem;
    display: flex;
    
    align-content: flex-start;
    gap: 1rem;
  
    #search{
      border-radius: 5px;
      padding: 3px;
      text-align: center;
    }
      .ofCards{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        text-align: center;
        
        
    }

    .card{
      flex: 0 0 20%;
      min-width: 12rem;
      max-height: 50%;
      background-color: rgb(101, 215, 215);
      padding: 1.5rem;
      display: flex;
      flex-direction: column;
      gap: 0.7rem;
      } 
  
      .cardLink{
        color: black;
      }
  .footer {width: 80%;}
      }
    }
  }

